<!DOCTYPE html>
<html>
<head>
	<title>Search Powered By Yelp!</title>
	{{>templates/_headerTemplate}}
</head>
<body>
{{>templates/_navTemplate}}
<div class="col-md-12 container-fluid">
	<div class="jumbotron text-center">
		<h1>Welcome To Yelpnode!</h1>
		<h2>Search Yelp For Businesses Using Our API!</h2>
		<h4>And see info about the business and also similar results!</h4>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<form method="post" action="/search/search-results" class="form">
			<label for="term">Enter Business Name</label>
			<input type="text" name="term" id="term" class="form-control">
			<label for="location">Enter City</label>
			<input type="text" name="location" id="location" class="form-control">
			<br />
			<button class="btn btn-danger btn-block" id="submit" type="submit">Submit</button>
		</form>
		<br />
	</div>
</div>
</body>
</html>